@utility no-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #e4e7ec;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@utility menu-item {
  @apply relative flex items-center w-full gap-3 px-3 py-2.5 font-medium rounded-xl text-sm leading-5 transition-colors duration-[var(--duration-fast)];
}

@utility menu-item-active {
  @apply bg-brand-tint text-brand;
}

@utility menu-item-inactive {
  @apply text-text-secondary hover:bg-accent;
}

@utility menu-item-icon-active {
  @apply text-brand;
}

@utility menu-item-icon-inactive {
  @apply text-icon-default;
}

@utility menu-item-text {
  @apply whitespace-nowrap;
}

@utility menu-dropdown-item {
  @apply flex items-center gap-3 rounded-xl px-3 py-2 text-sm leading-5 font-medium transition-colors duration-[var(--duration-fast)];
}

@utility menu-dropdown-item-active {
  @apply text-brand;
}

@utility menu-dropdown-item-inactive {
  @apply text-text-tertiary hover:text-text-secondary;
}
