@import '../styles/index.css';

@theme {
  --font-sans: 'Pretendard Variable', 'Pretendard', 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

  --breakpoint-2xsm: 375px;
  --breakpoint-xsm: 425px;
  --breakpoint-3xl: 2000px;

  --color-brand-25: #f2f7ff;
  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;
  --color-brand-950: #161950;

  --color-current: currentColor;
  --color-transparent: transparent;
  --color-white: #ffffff;
  --color-stroke: #e4e7ec;
  --color-stroke-dark: #27303e;

  --color-dark-2: #1f2a37;
  --color-dark-3: #374151;
  --color-dark-4: #4b5563;
  --color-dark-5: #6b7280;
  --color-dark-6: #9ca3af;
  --color-dark-7: #d1d5db;
  --color-dark-8: #e5e7eb;
  --color-dark: #111928;

  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;
  --color-gray-950: #0c111d;

  --color-green: #22ad5c;
  --color-green-dark: #1a8245;

  --color-green-light-1: #10b981;
  --color-green-light-2: #57de8f;
  --color-green-light-3: #82e6ac;
  --color-green-light-4: #acefc8;
  --color-green-light-5: #c2f3d6;
  --color-green-light-6: #daf8e6;
  --color-green-light-7: #e9fbf0;
  --color-green-light: #2cd673;

  --color-red: #f23030;
  --color-red-dark: #e10e0e;

  --color-red-light-2: #f89090;
  --color-red-light-3: #fbc0c0;
  --color-red-light-4: #fdd8d8;
  --color-red-light-5: #feebeb;
  --color-red-light-6: #fef3f3;
  --color-red-light: #f56060;

  --color-blue: #3c50e0;
  --color-blue-dark: #1c3fb7;

  --color-blue-light-2: #8099ec;
  --color-blue-light-3: #adbcf2;
  --color-blue-light-4: #c3cef6;
  --color-blue-light-5: #e1e8ff;
  --color-blue-light: #5475e5;

  --color-orange-light: #f59460;

  --color-yellow-dark-2: #d97706;
  --color-yellow-dark: #f59e0b;

  --color-yellow-light-4: #fffbeb;
  --color-yellow-light: #fcd34d;

  --color-success-50: #ecfdf3;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;

  --color-error-50: #fef3f2;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;

  --color-warning-50: #fffaeb;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;

  --color-body: #667085;

  --text-heading-1: 60px;
  --text-heading-1--line-height: 72px;
  --text-heading-2: 48px;
  --text-heading-2--line-height: 58px;
  --text-heading-3: 40px;
  --text-heading-3--line-height: 48px;
  --text-heading-4: 35px;
  --text-heading-4--line-height: 45px;
  --text-heading-5: 28px;
  --text-heading-5--line-height: 40px;
  --text-heading-6: 24px;
  --text-heading-6--line-height: 30px;
  --text-body-2xlg: 22px;
  --text-body-2xlg--line-height: 28px;
  --text-body-sm: 14px;
  --text-body-sm--line-height: 22px;
  --text-body-xs: 12px;
  --text-body-xs--line-height: 20px;
  --text-theme-xs: 12px;
  --text-theme-xs--line-height: 18px;
  --text-theme-sm: 14px;
  --text-theme-sm--line-height: 20px;
  --text-theme-xl: 20px;
  --text-theme-xl--line-height: 30px;
  --text-title-sm: 30px;
  --text-title-sm--line-height: 38px;
  --text-title-md: 36px;
  --text-title-md--line-height: 44px;
  --text-title-md2: 26px;
  --text-title-md2--line-height: 30px;

  --container-3: 0.75rem;
  --container-4: 1rem;
  --container-7: 1.75rem;
  --container-9: 2.25rem;
  --container-10: 2.5rem;
  --container-11: 2.75rem;
  --container-13: 3.25rem;
  --container-14: 3.5rem;
  --container-15: 3.75rem;
  --container-16: 4rem;
  --container-25: 6.25rem;
  --container-30: 7.5rem;
  --container-34: 8.5rem;
  --container-35: 8.75rem;
  --container-40: 10rem;
  --container-44: 11rem;
  --container-45: 11.25rem;
  --container-60: 15rem;
  --container-70: 17.5rem;
  --container-90: 22.5rem;
  --container-94: 23.5rem;
  --container-100: 25rem;
  --container-103: 25.75rem;
  --container-125: 31.25rem;
  --container-150: 37.5rem;
  --container-180: 45rem;
  --container-203: 50.75rem;
  --container-230: 57.5rem;
  --container-270: 67.5rem;
  --container-280: 70rem;
  --container-2_5: 0.625rem;
  --container-10_5: 2.625rem;
  --container-22_5: 5.625rem;
  --container-42_5: 10.625rem;
  --container-46_5: 11.625rem;
  --container-132_5: 33.125rem;
  --container-142_5: 35.625rem;
  --container-242_5: 60.625rem;
  --container-292_5: 73.125rem;

  --max-height-35: 8.75rem;
  --max-height-70: 17.5rem;
  --max-height-90: 22.5rem;
  --max-height-300: 18.75rem;
  --max-height-550: 34.375rem;

  --min-width-75: 18.75rem;
  --min-width-22_5: 5.625rem;
  --min-width-42_5: 10.625rem;
  --min-width-47_5: 11.875rem;

  --z-index-1: 1;
  --z-index-9: 9;
  --z-index-99: 99;
  --z-index-999: 999;
  --z-index-9999: 9999;
  --z-index-99999: 99999;
  --z-index-999999: 999999;

  --aspect-4\/3: 4 / 3;
  --aspect-21\/9: 21 / 9;

  --background-image-video: url('../images/video/video.png');

  --content-icon-copy: url('../images/icon/icon-copy-alt.svg');

  --transition-property-width: width;
  --transition-property-stroke: stroke;

  --border-width-6: 6px;
  --border-width-10: 10px;
  --border-width-12: 12px;

  --shadow-1: 0px 1px 2px 0px rgba(84, 87, 118, 0.12);
  --shadow-2: 0px 2px 3px 0px rgba(84, 87, 118, 0.15);
  --shadow-3:
    0px 8px 8.466px 0px rgba(113, 116, 152, 0.05),
    0px 8px 16.224px 0px rgba(113, 116, 152, 0.07),
    0px 18px 31px 0px rgba(113, 116, 152, 0.1);
  --shadow-4:
    0px 13px 40px 0px rgba(13, 10, 44, 0.22),
    0px -8px 18px 0px rgba(13, 10, 44, 0.04);
  --shadow-5:
    0px 10px 30px 0px rgba(85, 106, 235, 0.12),
    0px 4px 10px 0px rgba(85, 106, 235, 0.04),
    0px -18px 38px 0px rgba(85, 106, 235, 0.04);
  --shadow-6:
    0px 12px 34px 0px rgba(13, 10, 44, 0.08),
    0px 34px 26px 0px rgba(13, 10, 44, 0.05);
  --shadow-7: 0px 18px 25px 0px rgba(113, 116, 152, 0.05);
  --shadow-default: 0px 4px 7px 0px rgba(0, 0, 0, 0.14);
  --shadow-error: 0px 12px 34px 0px rgba(13, 10, 44, 0.05);
  --shadow-card-2: 0px 8px 13px -3px rgba(0, 0, 0, 0.07);
  --shadow-card-3: 0px 2px 3px 0px rgba(183, 183, 183, 0.5);
  --shadow-card-4: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --shadow-card-5: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
  --shadow-card-6: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-card-7: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.18);
  --shadow-card-8: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  --shadow-card-9: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  --shadow-card-10: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
  --shadow-switcher:
    0px 2px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 2px #ffffff,
    inset 0px -1px 1px rgba(0, 0, 0, 0.1);
  --shadow-switch-1: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-switch-2: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  --shadow-datepicker: -5px 0 0 #1f2a37, 5px 0 0 #1f2a37;
  --shadow-theme-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-theme-sm:
    0px 1px 3px 0px rgba(16, 24, 40, 0.1),
    0px 1px 2px 0px rgba(16, 24, 40, 0.06);
  --shadow-theme-md:
    0px 4px 8px -2px rgba(16, 24, 40, 0.1),
    0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  --shadow-theme-lg:
    0px 12px 16px -4px rgba(16, 24, 40, 0.08),
    0px 4px 6px -2px rgba(16, 24, 40, 0.03);
  --shadow-theme-xl:
    0px 20px 24px -4px rgba(16, 24, 40, 0.08),
    0px 8px 8px -4px rgba(16, 24, 40, 0.03);
  --shadow-focus-ring: 0px 0px 0px 4px rgba(70, 95, 255, 0.12);

  --drop-shadow-1: 0px 1px 0px #e2e8f0;
  --drop-shadow-2: 0px 1px 4px rgba(0, 0, 0, 0.12);
  --drop-shadow-3: 0px 0px 4px rgba(0, 0, 0, 0.15);
  --drop-shadow-4: 0px 0px 2px rgba(0, 0, 0, 0.2);
  --drop-shadow-5: 0px 1px 5px rgba(0, 0, 0, 0.2);
  --drop-shadow-card: 0px 8px 13px rgba(0, 0, 0, 0.07);

  --animate-linspin: linspin 1568.2353ms linear infinite;
  --animate-easespin: easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  --animate-left-spin: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-right-spin: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  --animate-ping-once: ping 5s cubic-bezier(0, 0, 0.2, 1);
  --animate-rotating: rotating 30s linear infinite;
  --animate-topbottom: topbottom 60s infinite alternate linear;
  --animate-bottomtop: bottomtop 60s infinite alternate linear;
  --animate-spin-1_5: spin 1.5s linear infinite;
  --animate-spin-2: spin 2s linear infinite;
  --animate-spin-3: spin 3s linear infinite;
  --animate-line1: line 10s infinite linear;
  --animate-line2: line-revert 8s infinite linear;
  --animate-line3: line 7s infinite linear;

  @keyframes linspin {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes easespin {
    12.5% {
      transform: rotate(135deg);
    }
    25% {
      transform: rotate(270deg);
    }
    37.5% {
      transform: rotate(405deg);
    }
    50% {
      transform: rotate(540deg);
    }
    62.5% {
      transform: rotate(675deg);
    }
    75% {
      transform: rotate(810deg);
    }
    87.5% {
      transform: rotate(945deg);
    }
    100% {
      transform: rotate(1080deg);
    }
  }
  @keyframes left-spin {
    0% {
      transform: rotate(130deg);
    }
    50% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(130deg);
    }
  }
  @keyframes right-spin {
    0% {
      transform: rotate(-130deg);
    }
    50% {
      transform: rotate(5deg);
    }
    100% {
      transform: rotate(-130deg);
    }
  }
  @keyframes rotating {
    0%,
    100% {
      transform: rotate(360deg);
    }
    50% {
      transform: rotate(0deg);
    }
  }
  @keyframes topbottom {
    0%,
    100% {
      transform: translate3d(0, -100%, 0);
    }
    50% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bottomtop {
    0%,
    100% {
      transform: translate3d(0, 0, 0);
    }
    50% {
      transform: translate3d(0, -100%, 0);
    }
  }
  @keyframes line {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(100%);
    }
  }
  @keyframes line-revert {
    0%,
    100% {
      transform: translateY(100%);
    }
    50% {
      transform: translateY(0);
    }
  }
}
